################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin
/obj
/.idea
/TechOil/bin/Debug/net6.0
/TechOil/obj
